<section class="py-5" id="process">
    <div class="container text-start mobile-p">
        <h1 class="fw-bold display-5 mb-4 hero-subtitle text-start">
            Contactos
        </h1>
        <p style="margin-top: -20px;">
            Entre em contacto com a ITGest Angola
            Descubra como podemos ajudar o seu negócio.
        </p>
        <div class="row mt-4">
            <div class="col-md-3 mb-4" *ngFor="let step of contacts">
                <div class="step-box p-3 rounded h-100">
                    <i class="{{step.icon}} fs-1"></i>
                    <h5 class="mb-2">{{ step.title }}</h5>
                    <p>{{ step.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<app-form-contactos></app-form-contactos>

<app-footer></app-footer>