<div class="landing-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg py-3 fixed-top shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold fs-6 text-light d-flex align-items-center" href="#">
                <img src="assets/logowhiteincubadora.png" alt="Logo" width="50" class="me-2">
                INCUBADORA TECNOLÓGICA
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-4">
                    <li class="nav-item btn-hero" routerLinkActive="active" routerLink="/website-incubadora">Home</li>
                    <li class="nav-item">Serviços</li>
                    <li class="nav-item">Projectos</li>
                    <li class="nav-item">Contactos</li>
                </ul>
             <!--    <a id="btn-join" href="#contactos" class="btn btn-primary px-4">Fale Connosco</a> -->
            </div>

        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section animated-bg text-center text-white d-flex align-items-center justify-content-center">
        <!-- Slideshow de fundo (imagens em src/assets/) -->
        <div class="slideshow">
            <img src="assets/terminal-img.jpg" alt="slide 1" class="slide">
            <img src="assets/pessoa-concertando1.jpg" alt="slide 2" class="slide">
            <img src="assets/pessoa-concertando2.jpg" alt="slide 3" class="slide">
        </div>

        <!-- Overlay escura -->
        <div class="overlay"></div>

        <!-- Conteúdo acima -->
        <div class="container mt-5 pt-5 content">
            <div class="badge px-3 py-2 rounded-pill mb-3">
                Soluções Tecnológicas para o Sector Bancário <span class="mobile">& Empresarial</span> 
            </div>

            <h1 class="fw-bold display-5 mb-3 hero-title">
                Gestão e Assistência Técnica de <span class="highlight">TPA´s</span>
            </h1>

            <p class="lead mb-4 hero-subtitle">
                A Incubadora Tecnológica disponibiliza soluções completas para Terminais de Pagamentos Automáticos,
                englobando fornecimento, manutenção, configuração, monitorização e assistência técnica especializada.
            </p>

            <div class="d-flex gap-3 justify-content-center">
                <a id="btn-join" class="btn btn-one btn-lg btn-hero px-4">Fale Connosco</a>
                <a id="btn-story" class="btn btn-outline-light btn-lg btn-hero px-4 mobile">Saiba Mais</a>
            </div>
        </div>
    </section>

</div>