.btn-one {
    background: linear-gradient(#B4C2E7, #646c80);
}
.text-one {
    color: linear-gradient(#B4C2E7, #646c80);
}
.btn-hero {
    padding: 14px 28px;
    border-radius: 12px;
    font-weight: 600;
}

.card-group {
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.card-inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    border-radius: 15px;
    max-width: 100%;
    cursor: pointer;
    gap: 10px;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15),
        0 0 15px rgba(0, 123, 255, 0.1);
    transition: 0.2s;
    /* toque de cor */
}

.card-inicio:hover {
    backdrop-filter: blur(10px);
    box-shadow: none;
    /* toque de cor */
}

.iconn {
    padding: 10px;
    background-color: #b4c2e750;
    font-size: 2rem;
    color: #828eaf;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #B4C2E7;
}

.icon {
    padding: 10px;
    font-size: 3rem;
    color: #ffffff;
    border-radius: 50%;
    width: 80px;
    background-color: #101729;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    transition: 0.2s;
    background-color: #F8F9FA;
}

.card:hover {
    background-color: #101729;
    color: rgb(255, 255, 255);

    .icon {
        color: #101729;
        background-color: #fff;
    }
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
        transition: transform 0.3s;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        color: #fff;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
    }

    &:hover img {
        transform: scale(1.1);
    }

    &:hover .overlay {
        opacity: 1;
    }
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

h5 {
    font-weight: bold;
}



/* Responsividade básica */
@media (max-width: 430px) {
    .mobile-p {
        padding: 20px;
    }

    .card-inicio {
        max-width: 100%;
    }

    .card-group {
        padding: 20px;
    }
}